contourpy==1.2.1
cycler==0.12.1
fonttools==4.52.4
future==1.0.0
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.9.0
networkx==3.3
numpy-stl==3.1.1
paretoset==1.2.3
pillow==10.3.0
pvlib @ file:///home/conda/feedstock_root/build_artifacts/pvlib_1715023995521/work
pyglet==1.5.29
pyparsing==3.1.2
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-utils==3.8.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1716354486713/work
scipy @ file:///C:/bld/scipy-split_1716470351859/work/dist/scipy-1.13.1-cp311-cp311-win_amd64.whl#sha256=05d3044e7b2dd2026836ef92b768a0bea815ae14920729280fa622ada2f4cf74
Shapely==1.8.5.post1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
solarfactors==1.5.3
statsmodels @ file:///D:/bld/statsmodels_1715941378132/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
trimesh @ file:///home/conda/feedstock_root/build_artifacts/trimesh_1716024383880/work
typing_extensions==4.12.1
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
